<div class="js-search input-group search-form">
	<form class="search_form">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="Поиск" autocomplete="off" class="form-control input-lg" />
  <input style="display: none;" type="submit">
  </form>
</div>
