@mixin icon($sign, $font-family: $ico) {
	&:before {
	    content: $sign;
	    display: inline-block;
	    font-family: $font-family;
	    font-size: inherit;
	    color: inherit;
	    font-style: normal;
	    line-height: inherit;
	}
}