                        <nav class="sidebar-nav clearfix">
                            <ul>
                                <li><a href="<?php echo $account; ?>">Личные данные</a></li>
                                <li><a class="active" href="<?php echo $order; ?>">История заказов</a></li>
                                <li><a href="<?php echo $discounts; ?>">Скидки</a></li>
                            </ul>
                        </nav>
