<div class="bottom-row clearfix">
    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="button" data-loading-text="<?php echo $text_loading; ?>" />
    <a class="link-left" href="/cart/">Редактировать заказ</a>
</div>
    <script type="text/javascript"><!--
    $('#button-confirm').on('click', function () {
            $.ajax({
                type: 'get',
                url: 'index.php?route=extension/payment/cod/confirm',
                cache: false,
                beforeSend: function () {
                    $('#button-confirm').button('loading');
                },
                complete: function () {
                    $('#button-confirm').button('reset');
                },
                success: function () {
                    location = '<?php echo $continue; ?>';
                }
            });
        });
    //--></script>
