@charset "utf-8";
/* CSS Document */
/* AutoSearch 2X by AlexDW */
#autosearch_search_results {
	margin:0px;
	padding: 5px;
	position: absolute;
	left: 0px; top: 40px;
	background-color: #fff;
	list-style-type: none;
	z-index: 9999;
	width:100%;
	border: 1px solid #eee;
	color: #fff;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

#autosearch_search_results name {
	font-weight: bold; color:#9e9e9e;
}
#autosearch_search_results model {
	padding-left: 5px; color:#38B0E3;
}
#autosearch_search_results special-price {
	padding: 0px 5px; border: 1px; font-weight: bold; background-color: #F15F61; color: white; text-decoration: line-through;
}
#autosearch_search_results price {
	line-height: 1.6; padding: 2px 7px; border: 1px; border-radius: 2px; font-weight: bold; background-color: rgb(39, 126, 194); color: white;
}
#autosearch_search_results viewall {
	margin-right: 10px; font-weight: bold; color:#212121;  text-align: right; display: block;
}

#autosearch_search_results img {
	padding:0px 10px;
	margin:5px;
	float:left;
}
#autosearch_search_results li {
padding: 2px 0 0 2px; width:100%; float: left; display:block; 
}
#autosearch_search_results li a {
display:block; outline: none; 
}
#autosearch_search_results li + li {
	border-top: 1px solid #eee;
}
#autosearch_search_results a,
#autosearch_search_results a:visited {
	text-decoration: none;
	outline: none;
	padding: 2px 0 0 2px;
}
#autosearch_search_results a:hover {
	color: #333 !important;
	outline: none;
}
#autosearch_search_results li:hover {
	background-color: #f5f5f5;
	color: #333 !important;
}
#autosearch_search_results li:hover a {
	color: #333 !important;
	outline: none;
}
#autosearch_search_results .highlighted {
	background-color: #f5f5f5;
	color: #333 !important;
}
