.i-search {
  @include icon('\e900', 'icomoon');
}

.i-cart {
  @include icon('\e901', 'icomoon');
}

.i-close {
  @include icon('\e902', 'icomoon');
}

.i-sandwitch {
  @include icon('\e903', 'icomoon');
}

.i-next {
  @include icon('\e904', 'icomoon');
}

.i-next-round {
  @include icon('\e905', 'icomoon');
}

.i-arrow {
  @include icon('\e906', 'icomoon');
}

.i-copyright {
  @include icon('\e907', 'icomoon');
}

.i-calendar {
  @include icon('\e90a', 'icomoon');
}

.i-map {
  @include icon('\e90b', 'icomoon');
}

.i-phone {
  @include icon('\e909', 'icomoon');
}

.i-email {
  @include icon('\e908', 'icomoon');
}

.i-exchange {
  @include icon('\e90c', 'icomoon');
}

.i-free-delivery {
  @include icon('\e90d', 'icomoon');
}

.i-delivery {
  @include icon('\e90f', 'icomoon');
}

.i-payment{
  @include icon('\e90e', 'icomoon');
}

.i-view{
  @include icon('\e910', 'icomoon');
}

.i-divider{
  @include icon('\e911', 'icomoon');
}

.i-up {
  @include icon('\e913', 'icomoon');
}

.i-calendar {
  @include icon('\e914', 'icomoon');
}

.i-grid {
  @include icon('\e912', 'icomoon');
}

.i-list {
  @include icon('\e915', 'icomoon');
}

.i-check {
  @include icon('\e916', 'icomoon');
}

.i-add-cart {
  @include icon('\e919', 'icomoon');
}

.i-like {
  @include icon('\e918', 'icomoon');
}

.i-fav {
  @include icon('\e917', 'icomoon');
}

.i-more {
  @include icon('\e91a', 'icomoon');
}

.i-mobile-sandwitch {
  @include icon('\e91b', 'icomoon');
}

.i-mobile-phone {
  @include icon('\e91c', 'icomoon');
}

.i-mobile-search {
  @include icon('\e91d', 'icomoon');
}

.i-back {
  @include icon('\e91e', 'icomoon');
}

.i-filter {
  @include icon('\e920', 'icomoon');
}

.i-sort {
  @include icon('\e91f', 'icomoon');
}

.i-download {
  @include icon('\e921', 'icomoon');
}