<?php echo $header; ?><?php echo $column_left; ?>

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
<div class="pull-right"><a href="<?php echo $errors; ?>" data-toggle="tooltip" title="<?php echo $button_errors; ?>" class="btn btn-primary"><?php echo $button_errors; ?></a> <a href="<?php echo $mans; ?>" data-toggle="tooltip" title="<?php echo $button_mans; ?>" class="btn btn-primary"><?php echo $button_mans; ?></a> <a href="<?php echo $products; ?>" data-toggle="tooltip" title="<?php echo $button_products; ?>" class="btn btn-primary"><?php echo $button_products; ?></a> <a href="<?php echo $clean; ?>" data-toggle="tooltip" title="<?php echo $button_clean; ?>" class="btn btn-danger"><?php echo $button_clean; ?></a></div>
    <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
<form method="post" name="add_opt">
Опции 
<?php
$files1 = scandir($dir);
foreach ($files1 as $file) {
    if(preg_match('/\.(xlsx)/', $file)){
echo "<input type='radio' name='file' value='" . $file . "'>" . $file . "<br />";
}
}
?> 
            <input type="submit" value="Импорт" name="add_opt" class="importpro" />
</form>
<form method="post" name="optproduct">
            <input type="submit" value="Добавить опции" name="optproduct" class="importpro" />
</form>
<div id="progress-bar">
    </div>
    <div id="prs">
    </div> 
    </div>
  </div>
</div>
<?php echo $footer; ?>
