<?php echo $header; ?><?php echo $column_left; ?>

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
<div class="pull-right"><a href="<?php echo $mans; ?>" data-toggle="tooltip" title="<?php echo $button_mans; ?>" class="btn btn-primary"><?php echo $button_mans; ?></a> <a href="<?php echo $products; ?>" data-toggle="tooltip" title="<?php echo $button_products; ?>" class="btn btn-primary"><?php echo $button_products; ?></a> <a href="<?php echo $clean; ?>" data-toggle="tooltip" title="<?php echo $button_clean; ?>" class="btn btn-danger"><?php echo $button_clean; ?></a></div>
    <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>

Скачать файл ошибок     <br>       
<input type='radio' name='error_type' value='options'> Типы корпусов <br>
<input type='radio' name='error_type' value='product_mans'> Ошибки по производителям <br>
<input type='radio' name='error_type' value='products_prom'> Товары для prom.ua<br>
                        <div class="col-sm-3">                          
<div class="input-group date">
                            <input type="text" name="date_modified_from" value="" placeholder="Дата редактирования от" data-date-format="YYYY-MM-DD" id="date_modified" class="form-control" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                            </span></div>
</div>
                        <div class="col-sm-3">                          
<div class="input-group date">
                            <input type="text" name="date_modified_to" value="" placeholder="Дата редактирования до" data-date-format="YYYY-MM-DD" id="date_modified" class="form-control" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                            </span></div>
</div>
  <script type="text/javascript"><!--
$('.date').datetimepicker({
	pickTime: false
});
//--></script>
<input type="submit" value="Скачать" class="import" name="download"/>

<div id="progress-bar">
    </div>
    <div id="content">
    </div>
<div id="prs">
    </div> 
<div id="prs2">
    </div> 
<script type="text/javascript">
$(document).ready(function() {
    $('input.import').click(function(event) { //Trigger on form submit
	repeat_import();
});
function repeat_import() {
        $.ajax({ //Process the form using $.ajax()
            type      : 'POST', //Method type
            url       : 'index.php?route=catalog/export/ajaxdownload&error_type='+encodeURIComponent($('input[name=error_type]:checked').val())+'&date_modified_from='+encodeURIComponent($('input[name=date_modified_from]').val())+'&date_modified_to='+encodeURIComponent($('input[name=date_modified_to]').val())+'&token=<?php echo $token; ?>', //Your form processing file URL
        contentType: "application/json",
            dataType  : 'json',
beforeSend: function() {
						$("#progress-bar").append("I");
 },
                        success   : function(json, textStatus){
						$("#progress-bar").append("I");
 console.log("отправляется");
						if (json["success"] == "The End") {
							$("#prs").html("<h2>Импорт окончен</h2><div>Insert - "+json['insert']+"</div>");
for (i = 0; i <= json["zet"]; ++i) {
$("#prs2").append(" <a href='http://allchips.com.ua/shop/load.csv'>File "+i+"</a><br>");
}
						}
						else {
							$("#prs").html("<p>Обработано " + json['insert'] + " позиций</p>");
							repeat_import();
						} 

					},
complete: function(xhr, textStatus){

						if (textStatus != "success") {
							$("#progress-bar").append("I");
						}
					}

        });
}
        });
</script>
    </div>
  </div>
</div>
<?php echo $footer; ?>
